<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SwiftInv Dashboard</title>
  <!--<link rel="stylesheet" type="text/css" href="/css/jass.css">-->
  <!--<link rel="stylesheet" type="text/css" href="/css/style.css">-->
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>

<body>
  <header>
    <img src="../images/headermenu1.png"/>
    <h1>SwiftInv Dashboard</h1>
    <h2>Track your modern warehouse</h2>
          <form>
            <input type="text" id="searchBox" placeholder="Search products" />
            <a href="">Add Product</a>
        </form>
  </header>
  <main>
      {{{body}}}
  </main>
</body>

</html>