<div class="row">
  <div class="col-md-6">
    <h2>Login</h2>

    <main id="loginFormContainer">
      <img src="./assets/images/logo.png" id="searchBox" />
      <div class="formHdrText">Login to SwiftInv</div>
      <form id="loginForm">
        <input type="text" id="fnamebox" placeholder="Username" /><br />
        <input type="text" id="lnamebox" placeholder="Password" /><br>
        <button type="submit" id="submitBtn">Submit</button>
      </form>
    </main>
  </div>
  
</div>

<script src="./js/login.js"></script>
