<table id="results">
    <thead>
                  <th>
                      Manage Item
                  </th>
                  <th>
                      Item Name
                  </th>
                  <th>
                      Quantity
                  </th>
                  <th>
                      Product Image
                  </th>
                  <th>
                      Product ID
                  </th>
                  <th>
                      Manufacturer
                  </th>
              </thead>
       {{#each dashboard}}
      {{> dashboard-details}}
      {{/each}}
      </table>