header, .project:not(:last-child) {
    border-bottom: 1px solid #ccc;
  }
  
  .no-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    color: #1b89bc;
    text-decoration: none;
    font-size: 100%;
  }
  
  .no-button:hover {
    color: #065b83;
    text-decoration: underline;
  }
  
  .dollar-amount {
    color: #056605;
    font-weight: bold;
    margin-left: -5px;
  }
  
main, body{
    background: #ededed;
    font-family:Arial, Helvetica, sans-serif;
}
header,main,footer{
    margin:0 auto;
    text-align: left;
    /*width:90%;*/
}

header div{
    width:100%;
    background-color: #fff;
}
h1{
    font-size: 30px;
}
h2{
    font-size: 24px;
    padding-left:10px;
}
nav{
    width:100%;
    background: #2078d0;
    padding:7px 0 11px;
    height:30px;
    display:flex;
    flex-wrap: wrap;
}
nav form{
    display:inline-block;
}
#searchBox{
    display:inline-block;
    font-size:14px;
    margin:0 10px;
    width:250px;
    height:30px;
}
nav ul{
    margin:0;
    display:inline-block;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 7px;
    border:1px solid #ddd;
    background: #fff;
}
nav ul li:hover,nav ul li:hover a{
    color:#fff;
    background: #2078d0;
}
nav ul li a{
    text-decoration:none;
    color: #2078d0;
    font-weight:bold;
    font-size:12px;
}
main{
    overflow-x:auto;
}
#tableWrapper{
    overflow-x:auto
}
#results{
    font-size:11px;
    width:100%;
    background: white;
    padding:10px;
    border: 1px solid #ddd;
    text-align:center;
    border-collapse: collapse;
}
#results tr{
    border: 1px solid #ddd;
}
#results th, #results td{
    padding:10px;
}
#manageResults{
    background: #ededed;
    padding:10px;
    border: 1px solid #ddd;
    text-align:center;
    margin:0 auto;
}
#manageResults span{
    display:block;
    float:left;
    font-weight:bold;
    margin-left:100px;
}
#manageResults textarea{
    padding:10px;
    border: 1px solid #ddd;
    width:90%;
}
#uploadImg, #saveBtn{
    border: 1px solid #ccc;
    background:#2078d0;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    font-size:11px;
    color: #fff;
}
#uploadImg:hover{
    border: 1px solid #2078d0;
    background:#fff;
    color:#2078d0;
}
#loginFormContainer{
    width:450px;
    background:#2078d0;
    text-align:center;
    padding: 30px;
    margin:200px auto;
    border: 1px solid #ddd;
}
.formHdrText{
    font-weight:bold;
    font-size: 22px;
    font-family:Arial, Helvetica, sans-serif;
    color: #fff;
}
#loginFormContainer input{
    width:200px;
    font-size:14px;
    margin: 10px 0 0;
}
#loginFormContainer button{
    list-style-type: none;
    display: inline-block;
    padding: 7px;
    border:1px solid #ddd;
    background: #fff;
    text-decoration:none;
    color: #2078d0;
    font-weight:bold;
    font-size:12px;
    width:75px;
    margin: 10px 0 0;
}
footer{
    text-align:right;
    width:100%;
    background: #2078d0;
    padding:7px 0 11px;
    height:30px;
}
footer button{
    border: 1px solid #ddd;
    background:#fff;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    font-size:11px;
    color: #2078d0;
    float: right;
    margin-right: 20px;
}
footer button:hover{
    border: 1px solid #fff;
    background:#2078d0;
    color:#fff;
}
@media screen and (max-width:699px){
    header, main, footer{
        width:100%;
        padding-left:0;
    }
    header div{
        text-align:center;
    }
    header ul{
        padding:0;
        margin-top:1px;
    }
    header nav{
        height:auto;
        justify-content:center;
    }
    footer nav{
        display:none;
    }
    #loginFormContainer{
        margin-top:10px;
    }
}